.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 8px 8px 0px 0px;
}

.booked {
  background: lightgray;
  color: white;
  cursor: not-allowed;
}

.available {
  background: white;
  color: seagreen;
  border: 1px solid seagreen;
  cursor: pointer;
}

.selected {
  background: seagreen;
  color: white;
  cursor: pointer;
}


.label {
  font-size: 1.4rem;
  font-weight: 600;
}