* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.button {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: steelblue;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2em;
    border-width: 0px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-icon, .button-text {
    display: inline;
    margin: 5px;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 3;
}

.col-8 {
    flex-grow: 8;
}

.col-9 {
    flex-grow: 9;
}

.col-10 {
    flex-grow: 10;
}

.container {
    display: flex;
    align-items: stretch;
}

.course {
    margin: 100px 0 100px 0;
}

.course-name {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
}

.divider { 
    float: left;
    margin-top: 0.5px;
    margin-bottom: 0.5px;   
    height: 50px;
    width: 40px;
    background-color: rgb(245, 244, 244);
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    border: 0.5px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 0 10px 0;
}

.icon-button {
    background: none;
    height: 50px;
    width: 50px;
    border-width: 0px;
    border-radius: 50%;
    color: grey;
}

input {
    border-width: 0px;
    font-size: 1.2em;
    width: 100%;
}

input:focus, button:focus {
    outline: none;
}

.icon-button:hover {
    /* background-color: rgb(241, 241, 241); */
    color: deepskyblue;
}

.icons-set {
    align-items: center;
    position: absolute;
    left: 0px;
    margin: 0 10px 0 10px;
}

.list-container {
    width: 100%;
    position: relative;
    border: 0.5px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px; 
}

.list-content {
    align-items: center;
}

/* .list-container > ul > ul > li input {
    color: deepskyblue;
    font-weight: bold;
}

.list-container > ul > ul > ul > ul li input {
    color: black;
    font-weight: 600;
}

.list-container > ul > ul > ul > ul > ul > ul li input {
    color: gray;
    font-weight: lighter;
} */

.list-container >.dd-list > .dd-item >.dd-list > .dd-item > div input {
    color: black;
    font-weight: 600;
}


.list-container >.dd-list > .dd-item > .dd-list > .dd-item > .dd-list > .dd-item div input {
    color: gray;
    font-weight: lighter;
}


.list-container > .dd-list > .dd-item > div input {
    color: deepskyblue;
    font-weight: bold;
}

.list-text {
    padding: 12px 0 12px 0;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.offset {
    width: 200px;
    height: 50px;
}

.subtitle {
    font-size: 0.9em;
    color: gray;
}

.title {
    font-weight: bold;
}

ul {
    margin: 0px;
    padding-inline-start: 15px !important;
    font-size: 0.95em;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltip-text {
    
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: #000000;
    opacity: 0;
    color: #ffffff;
    border-radius: 2.5px;
    padding: 10px 15px 10px 15px;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
}
  
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    border-width: 2.5px;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

